# Chain
SEPOLIA_RPC_URL=https://sepolia.base.org
MAINNET_RPC_URL=https://mainnet.base.org
DEPLOYER_ADDRESS=0x8F058fE6b568D97f85d517Ac441b52B95722fDDe
BASESCAN_API_KEY=

# Frontend
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_APP_URL=

# Base Builder Code — configurable, register at dashboard.base.org
NEXT_PUBLIC_BUILDER_CODE=

